
.container-msg {
    text-align: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc; /* Cor da borda padrão */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
    
}



.nofic{
    text-align: center;
    color: red;
    width: 50%;
    margin: 0 auto;
 
    
}


